environment/node-red/data/.flows.json.backup
[
    {
        "id": "feb8391b4e5866c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "404693b0e82eeab4",
        "type": "discord-token",
        "name": "UBL-test"
    },
    {
        "id": "5f1848c885097b69",
        "type": "discordMessage",
        "z": "feb8391b4e5866c6",
        "name": "Recebe a mensagem",
        "token": "404693b0e82eeab4",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "fda976a6b5222a55"
            ]
        ]
    },
    {
        "id": "d8bf87a0b784edf2",
        "type": "switch",
        "z": "feb8391b4e5866c6",
        "name": "Verifica se a mensagem é um comando",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!pergunta",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "af2bd95ac5f4ba35"
            ]
        ]
    },
    {
        "id": "f2fa3f81a4889996",
        "type": "change",
        "z": "feb8391b4e5866c6",
        "name": "Define pergunta e o canal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pergunta",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "channelIdDest",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "6c9e9bc955d9140d"
            ]
        ]
    },
    {
        "id": "6c9e9bc955d9140d",
        "type": "discordMessageManager",
        "z": "feb8391b4e5866c6",
        "name": "Envia a mensagem",
        "channel": "",
        "token": "404693b0e82eeab4",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "7e4ff5c1b7e3ffbd"
            ]
        ]
    },
    {
        "id": "af2bd95ac5f4ba35",
        "type": "string",
        "z": "feb8391b4e5866c6",
        "name": "Separa texto da pergunta e menciona todos",
        "methods": [
            {
                "name": "between",
                "params": [
                    {
                        "type": "str",
                        "value": "!pergunta \""
                    },
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "\\n"
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "flow",
                        "value": "role"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "pergunta",
        "object": "msg",
        "objectout": "msg",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "f2fa3f81a4889996"
            ]
        ]
    },
    {
        "id": "cb5108cbf7485132",
        "type": "function",
        "z": "feb8391b4e5866c6",
        "name": "Adiciona reações e cria thread",
        "func": "const client = msg.discord;\nconst channel = await client.channels.fetch('719691444826144818');\nmessage = channel.messages.fetch(msg.payload.id);\n\nmessage.then(m => m.react('🇦'));\nmessage.then(m => m.react('🇧'));\nmessage.then(m => m.react('🇨'));\nmessage.then(m => m.react('🇩'));\nmessage.then(m => m.react('🇪'));\n\nmessage.then(m => m.startThread({\n        name: \"Discussão\",\n        autoArchiveDuration: 1440,\n        type: 'GUILD_PUBLIC_THREAD'\n}));\n\ndelete msg.discord;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "a1439e6bd90bac7b"
            ]
        ]
    },
    {
        "id": "a1439e6bd90bac7b",
        "type": "debug",
        "z": "feb8391b4e5866c6",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 160,
        "wires": []
    },
    {
        "id": "7e4ff5c1b7e3ffbd",
        "type": "discordClient",
        "z": "feb8391b4e5866c6",
        "name": "Interface com Discord.js",
        "token": "404693b0e82eeab4",
        "x": 1110,
        "y": 240,
        "wires": [
            [
                "cb5108cbf7485132"
            ]
        ]
    },
    {
        "id": "fda976a6b5222a55",
        "type": "switch",
        "z": "feb8391b4e5866c6",
        "name": "Verifica se o canal está habilitado",
        "property": "channel.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "channelId",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "d8bf87a0b784edf2"
            ]
        ]
    },
    {
        "id": "2ab7e8e889171c28",
        "type": "inject",
        "z": "feb8391b4e5866c6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "a400c5b14d302567"
            ]
        ]
    },
    {
        "id": "a400c5b14d302567",
        "type": "change",
        "z": "feb8391b4e5866c6",
        "name": "Define variáveis",
        "rules": [
            {
                "t": "set",
                "p": "channelId",
                "pt": "flow",
                "to": "719691382180151430",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "role",
                "pt": "flow",
                "to": "<@&631261692549922826>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "channelIdDest",
                "pt": "flow",
                "to": "719691444826144818",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 80,
        "wires": [
            []
        ]
    }
]